.wraper {
    min-height: 100vh;
    min-width: 100vw;

    .right-content {
        min-height: 100vh !important;
        padding: 20px;
        background-color: $indigo;

        .right-item {

            .header {
                padding: 0.6rem;
                letter-spacing: 0.06em;
                line-height: 2em;
                color: $indigo;

                .welcome-title {
                    font-size: 35px;
                    font-weight: 400;
                    font-family: $rubik;
                }
            }

            .boxStaking {
                min-height: 500px;
                max-height: 500px;
                overflow: hidden;

                .apex-charts {
                    min-height: 250px;
                    max-height: 250px;
                }

                .list-group {
                    min-height: 250px;
                    max-height: 250px;
                    overflow: auto;
                    padding-bottom: 50px;
                }

            }
        }
    }

    .dashboard {
        .card-title {
            font-family: $rubik;
            font-weight: 400;
            font-size: 20px;
            color: white;
        }

        .memeber-title {
            font-size: 13px;
            color: $indigo;
        }
    }

    .slider-box {

        // For mobile devices with maximum width 767px
        @media only screen and (max-width: 767px) {
            margin-top: 10px;
            margin-bottom: 20px;
        }
    }

    .apex-charts {
        min-height: 10px !important;

        text {
            font-family: $rubik !important;
        }

        .apexcharts-canvas {
            margin: 0 auto;
        }
    }

    .referral-box {
        height: 50px;


        // For mobile devices with maximum width 767px
        @media only screen and (max-width: 767px) {
            margin-top: 50px;
            margin-bottom: 50px;
        }

        .row {
            .referral-title {
                height: 50px;
                background-color: $indigo;
                display: flex;
                align-items: center;
                color: $yellow;
                font-family: $rubik;
                font-size: 15px;
                font-weight: 500;
            }

            .referral-link {
                height: 50px;
                background-color: $orange;
                display: flex;
                align-items: center;
            }

            .form-control {
                color: $indigo;
                font-family: $rubik;
                font-size: 15px;
                font-weight: 500;
            }

            .referral-button {
                height: 50px;
                display: flex;
                justify-content: end;
                align-items: center;
                background-color: $orange;

                // For mobile devices with maximum width 767px
                @media only screen and (max-width: 767px) {
                    justify-content: center;
                }
            }
        }

    }

}
