.left-content {
    .left-bar {
        .nav-item {
            padding-left: 20px;

            &:hover,
            &.active {
                background-color: $body;
                color: $indigo;
                font-weight: 400;

                span {
                    color: $indigo;
                }
                i {
                    color: $indigo !important;
                }
            }

            span {
                font-size: 20px;
                font-family: $rubik;
                font-weight: 200;
                min-width: 100%;
            }
        }
    }
}
