.wallet {

    .box-effect-blue {
        border-bottom: 3px solid $indigo;
        box-shadow: inset 0 0 1px rgba(2, 4, 68, 0.4), 0 0 9px 4px #14027c1a;
        border-radius: 10px;
        height: 170px;
    }

    .modal-body {
        .wallet {
            &:hover {
                border-right: 10px solid $pink;
                border-left: 10px solid $pink;
            }
        }

        .smartchain {
            &:hover {
                border-right: 10px solid $pink;
                border-left: 10px solid $pink;
            }
        }
    }
    .transactions {
        .card-header {
            background-color: $indigo;

            .card-title {
                font-size: 20px;
                color: $white;
                font-family: $rubik;
                font-weight: 300;
            }
        }

        tr {
            height: 10px !important;
            white-space: nowrap;
        }

        td {
            white-space: nowrap;
        }

        .type-head,
        .amout-head,
        .status-head {
            min-width: 100px;
        }

        .source-head {
            min-width: 115px;
        }

        .date-head {
            min-width: 160px;
        }

        .date-head {
            min-width: 160px;
        }

        .amount {
            font-family: $rubik;
            font-weight: 600;
            color: $indigo;
        }

        .withdraw {
            background-color: #eecccc;
            color: #690303;
        }

        .deposit {
            background-color: #afdcba;
            color: #042508;
        }
    }
}


