
$blue:       #3577f1;
$indigo:     #030346;
$purple:     #6559cc;
$pink:       #f672a7;
$red:        #f06548;
$orange:     #f1963b;
$yellow:     #f7b84b;
$green:      #0ab39c;
$teal:       #02a8b5;
$cyan:       #299cdb;
$white:      #fff;
$body:       #f3f6f9;
$mute:       rgb(130, 128, 128);

$rubik: Rubik, sans-serif;
