@import 'variables';


@import 'structure/leftbar';
@import 'structure/auth';
@import 'structure/dashboard';
@import 'structure/wallet';
@import 'structure/transfer';
@import 'structure/investments';
@import 'structure/swap';



* {
    box-sizing: border-box;
}

.text-pink {
    color: $pink;
}

.btn-pink {
    background-color: $pink;

    &:hover {
        background-color: $red;
    }
}

.bg-pink {
    background-color: $pink;
}

/* WebKit */
::-webkit-scrollbar {
    display: none;
    scrollbar-width: none;
}

.mobile-menu {
    height: 80px;
    display: none;

     // For mobile devices with maximum width 767px
     @media only screen and (max-width: 767px) {
        display: block;
    }

    .menu-item {
        background-color: white;

        &.active {
            border-top: 5px solid $orange;
        }
    }
}
.bg-mu {
    background-color: #eff2f7;
    &:focus {
        background-color: #eff2f7;
    }
}

