@charset "UTF-8";
.left-bar ul li {
  margin-top: 10px;
}
.left-bar ul li a {
  font-size: 20px;
  font-family: Rubik, sans-serif;
  font-weight: 200;
  min-width: 100%;
}
.left-bar ul li a:hover {
  color: #f672a7;
}

.auth-page-wrapper .bg-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #030346;
}
.auth-page-wrapper .auth-page-content {
  position: relative;
  z-index: 2;
  width: 100%;
}
.auth-page-wrapper .auth-one-bg-position {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 380px;
}
@media (max-width: 575.98px) {
  .auth-page-wrapper .auth-one-bg-position {
    height: 280px;
  }
}
.auth-page-wrapper #password-contain {
  display: none;
}
.auth-page-wrapper #password-contain p {
  padding-left: 13px;
}
.auth-page-wrapper #password-contain p.valid::before {
  position: relative;
  left: -8px;
  content: "✔";
  color: #0ab39c;
}
.auth-page-wrapper #password-contain p.invalid::before {
  position: relative;
  left: -8px;
  content: "✖";
  color: #f06548;
}

.wraper {
  min-height: 100vh;
  min-width: 100vw;
}
.wraper .right-content {
  min-height: 100vh !important;
  padding: 20px;
  background-color: #030346;
}
.wraper .right-content .right-item .header {
  padding: 0.6rem;
  letter-spacing: 0.06em;
  line-height: 2em;
  color: #030346;
}
.wraper .right-content .right-item .header .welcome-title {
  font-size: 35px;
  font-weight: 400;
  font-family: Rubik, sans-serif;
}
.wraper .right-content .right-item .boxStaking {
  min-height: 500px;
  max-height: 500px;
  overflow: hidden;
}
.wraper .right-content .right-item .boxStaking .apex-charts {
  min-height: 250px;
  max-height: 250px;
}
.wraper .right-content .right-item .boxStaking .list-group {
  min-height: 250px;
  max-height: 250px;
  overflow: auto;
  padding-bottom: 50px;
}
.wraper .dashboard .card-title {
  font-family: Rubik, sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: white;
}
.wraper .dashboard .memeber-title {
  font-size: 13px;
  color: #030346;
}
@media only screen and (max-width: 767px) {
  .wraper .slider-box {
    margin-top: 10px;
    margin-bottom: 20px;
  }
}
.wraper .apex-charts {
  min-height: 10px !important;
}
.wraper .apex-charts text {
  font-family: Rubik, sans-serif !important;
}
.wraper .apex-charts .apexcharts-canvas {
  margin: 0 auto;
}
.wraper .referral-box {
  height: 50px;
}
@media only screen and (max-width: 767px) {
  .wraper .referral-box {
    margin-top: 50px;
    margin-bottom: 50px;
  }
}
.wraper .referral-box .row .referral-title {
  height: 50px;
  background-color: #030346;
  display: flex;
  align-items: center;
  color: #f7b84b;
  font-family: Rubik, sans-serif;
  font-size: 15px;
  font-weight: 500;
}
.wraper .referral-box .row .referral-link {
  height: 50px;
  background-color: #f1963b;
  display: flex;
  align-items: center;
}
.wraper .referral-box .row .form-control {
  color: #030346;
  font-family: Rubik, sans-serif;
  font-size: 15px;
  font-weight: 500;
}
.wraper .referral-box .row .referral-button {
  height: 50px;
  display: flex;
  justify-content: end;
  align-items: center;
  background-color: #f1963b;
}
@media only screen and (max-width: 767px) {
  .wraper .referral-box .row .referral-button {
    justify-content: center;
  }
}

.wallet .box-effect-pink {
  border-bottom: 3px solid #f672a7;
  box-shadow: inset 0 0 1px rgba(2, 4, 68, 0.4), 0 0 9px 4px rgba(20, 2, 124, 0.1019607843);
  border-radius: 10px;
}
.wallet .box-effect-blue {
  border-bottom: 3px solid #030346;
  box-shadow: inset 0 0 1px rgba(2, 4, 68, 0.4), 0 0 9px 4px rgba(20, 2, 124, 0.1019607843);
  border-radius: 10px;
}
.wallet .modal-body .wallet:hover {
  border-right: 10px solid #f672a7;
  border-left: 10px solid #f672a7;
}
.wallet .modal-body .smartchain:hover {
  border-right: 10px solid #f672a7;
  border-left: 10px solid #f672a7;
}

.transactions .card-header {
  background-color: #030346;
}
.transactions .card-header .card-title {
  font-size: 20px;
  color: #fff;
  font-family: Rubik, sans-serif;
  font-weight: 300;
}
.transactions tr {
  height: 10px !important;
  white-space: nowrap;
}
.transactions td {
  white-space: nowrap;
}
.transactions .type-head,
.transactions .amout-head,
.transactions .status-head {
  min-width: 100px;
}
.transactions .source-head {
  min-width: 115px;
}
.transactions .date-head {
  min-width: 160px;
}
.transactions .date-head {
  min-width: 160px;
}
.transactions .amount {
  font-family: Rubik, sans-serif;
  font-weight: 600;
  color: #030346;
}
.transactions .withdraw {
  background-color: #eecccc;
  color: #690303;
}
.transactions .deposit {
  background-color: #afdcba;
  color: #042508;
}

.transfer {
  display: flex;
  justify-content: center;
}
.transfer .transfer-box {
  width: 600px;
}

.stake-box {
  width: 500px;
}
.stake-box .select-item {
  background-color: #c0bfbf;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #030346;
  font-size: 30px;
}
.stake-box .select-item.active {
  background-color: #030346;
  color: white;
}
.stake-box .tab-pane .penalty {
  font-size: 20px;
  color: #030346;
}

* {
  box-sizing: border-box;
}

.text-pink {
  color: #f672a7;
}

.btn-pink {
  background-color: #f672a7;
}
.btn-pink:hover {
  background-color: #f06548;
}

.bg-pink {
  background-color: #f672a7;
}
