@charset "UTF-8";
.left-content .left-bar .nav-item {
  padding-left: 20px;
}
.left-content .left-bar .nav-item:hover, .left-content .left-bar .nav-item.active {
  background-color: #e4f0fb;
  color: #030346;
  font-weight: 400;
}
.left-content .left-bar .nav-item:hover span, .left-content .left-bar .nav-item.active span {
  color: #030346;
}
.left-content .left-bar .nav-item:hover i, .left-content .left-bar .nav-item.active i {
  color: #030346 !important;
}
.left-content .left-bar .nav-item span {
  font-size: 20px;
  font-family: Rubik, sans-serif;
  font-weight: 200;
  min-width: 100%;
}

.auth-page-wrapper .bg-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #030346;
}
.auth-page-wrapper .auth-page-content {
  position: relative;
  z-index: 2;
  width: 100%;
}
.auth-page-wrapper .auth-one-bg-position {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 380px;
}
@media (max-width: 575.98px) {
  .auth-page-wrapper .auth-one-bg-position {
    height: 280px;
  }
}
.auth-page-wrapper #password-contain {
  display: none;
}
.auth-page-wrapper #password-contain p {
  padding-left: 13px;
}
.auth-page-wrapper #password-contain p.valid::before {
  position: relative;
  left: -8px;
  content: "✔";
  color: #0ab39c;
}
.auth-page-wrapper #password-contain p.invalid::before {
  position: relative;
  left: -8px;
  content: "✖";
  color: #f06548;
}

.wraper {
  min-height: 100vh;
  min-width: 100vw;
  max-width: 100vw;
  max-height: 100vh !important;
  overflow: hidden;
}
.wraper .right-content {
  min-height: 100vh !important;
  padding: 20px 30px 0px 0px;
  background-color: #030346;
}
@media only screen and (max-width: 767px) {
  .wraper .right-content {
    padding: 20px 35px 30px 35px;
    margin-bottom: 50px;
  }
}
.wraper .right-content .right-item {
  max-height: 96vh;
  min-height: 96vh;
  overflow: scroll;
}
.wraper .right-content .right-item .header {
  padding: 0.6rem;
  letter-spacing: 0.06em;
  line-height: 2em;
  color: #030346;
  overflow: auto;
}
.wraper .right-content .right-item .header .welcome-title {
  font-size: 35px;
  font-weight: 400;
  font-family: Rubik, sans-serif;
}
.wraper .right-content .right-item .boxStaking {
  min-height: 500px;
  max-height: 500px;
  overflow: hidden;
}
.wraper .right-content .right-item .boxStaking .apex-charts {
  min-height: 250px;
  max-height: 250px;
}
.wraper .right-content .right-item .boxStaking .list-group {
  min-height: 250px;
  max-height: 250px;
  overflow: auto;
  padding-bottom: 50px;
}
.wraper .dashboard .card-title {
  font-family: Rubik, sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: white;
}
.wraper .dashboard .memeber-title {
  font-size: 13px;
  color: #030346;
}
@media only screen and (max-width: 767px) {
  .wraper .slider-box {
    margin-top: 10px;
    margin-bottom: 20px;
  }
}
.wraper .apex-charts {
  min-height: 10px !important;
}
.wraper .apex-charts text {
  font-family: Rubik, sans-serif !important;
}
.wraper .apex-charts .apexcharts-canvas {
  margin: 0 auto;
}
.wraper .referral-box {
  height: 50px;
  margin-top: 30px;
}
@media only screen and (max-width: 767px) {
  .wraper .referral-box {
    margin-top: 50px;
    margin-bottom: 90px;
  }
}
.wraper .referral-box .row .referral-title {
  height: 50px;
  background-color: #030346;
  display: flex;
  align-items: center;
  color: #f7b84b;
  font-family: Rubik, sans-serif;
  font-size: 15px;
  font-weight: 500;
}
.wraper .referral-box .row .referral-link {
  height: 50px;
  background-color: #f06548;
  display: flex;
  align-items: center;
}
.wraper .referral-box .row .form-control {
  color: #030346;
  font-family: Rubik, sans-serif;
  font-size: 15px;
  font-weight: 500;
}
.wraper .referral-box .row .referral-button {
  height: 50px;
  display: flex;
  justify-content: end;
  align-items: center;
  background-color: #f06548;
}
@media only screen and (max-width: 767px) {
  .wraper .referral-box .row .referral-button {
    justify-content: center;
  }
}

.wallet .box-effect-blue {
  border-bottom: 3px solid #030346;
  box-shadow: inset 0 0 1px rgba(2, 4, 68, 0.4), 0 0 9px 4px rgba(20, 2, 124, 0.1019607843);
  border-radius: 10px;
  height: 170px;
}
.wallet .modal-body .wallet:hover {
  border-right: 10px solid #f672a7;
  border-left: 10px solid #f672a7;
}
.wallet .modal-body .smartchain:hover {
  border-right: 10px solid #f672a7;
  border-left: 10px solid #f672a7;
}
.wallet .transactions .card-header {
  background-color: #030346;
}
.wallet .transactions .card-header .card-title {
  font-size: 20px;
  color: #fff;
  font-family: Rubik, sans-serif;
  font-weight: 300;
}
.wallet .transactions tr {
  height: 10px !important;
  white-space: nowrap;
}
.wallet .transactions td {
  white-space: nowrap;
}
.wallet .transactions .type-head,
.wallet .transactions .amout-head,
.wallet .transactions .status-head {
  min-width: 100px;
}
.wallet .transactions .source-head {
  min-width: 115px;
}
.wallet .transactions .date-head {
  min-width: 160px;
}
.wallet .transactions .date-head {
  min-width: 160px;
}
.wallet .transactions .amount {
  font-family: Rubik, sans-serif;
  font-weight: 600;
  color: #030346;
}
.wallet .transactions .withdraw {
  background-color: #eecccc;
  color: #690303;
}
.wallet .transactions .deposit {
  background-color: #afdcba;
  color: #042508;
}

.transfer {
  display: flex;
  justify-content: center;
}
.transfer .transfer-box {
  width: 600px;
}

.stake-box {
  width: 500px;
}
.stake-box .select-item {
  background-color: #c0bfbf;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #030346;
  font-size: 30px;
}
.stake-box .select-item.active {
  background-color: #030346;
  color: white;
}
.stake-box .tab-pane .penalty {
  font-size: 20px;
  color: #030346;
}

.swap-box {
  border: 1px solid #030346;
  padding: 1.5rem;
  letter-spacing: 0.06em;
  border-radius: 1rem;
  transition: all 0.3s;
  color: #030346;
  font-family: "Rubik", sans-serif;
  overflow: auto;
  font-family: "Rubik", sans-serif;
  background-color: white;
  /* Up or down buttons ko chhupane ke liye */
}
.swap-box .form-control {
  height: 80px;
  color: #030346;
  font-family: "Rubik", sans-serif;
  font-weight: 200;
  font-size: 44px;
  background-color: #e4f0fb;
  border: 1px solid #030346;
}
.swap-box input[type=number]::-webkit-inner-spin-button,
.swap-box input[type=number]::-webkit-outer-spin-button {
  opacity: 0;
  /* Chhupane ke liye */
  position: absolute;
  /* Position ko adjust karne ke liye */
  height: auto;
  /* Height ko set karne ke liye */
}

* {
  box-sizing: border-box;
}

.text-pink {
  color: #f672a7;
}

.btn-pink {
  background-color: #f672a7;
}
.btn-pink:hover {
  background-color: #f06548;
}

.bg-pink {
  background-color: #f672a7;
}

/* WebKit */
::-webkit-scrollbar {
  display: none;
  scrollbar-width: none;
}

.mobile-menu {
  height: 80px;
  display: none;
}
@media only screen and (max-width: 767px) {
  .mobile-menu {
    display: block;
  }
}
.mobile-menu .menu-item {
  background-color: white;
}
.mobile-menu .menu-item.active {
  border-top: 5px solid #ea8c2f;
}

.bg-mu {
  background-color: #eff2f7;
}
.bg-mu:focus {
  background-color: #eff2f7;
}
